* {
  box-sizing: border-box;
  color: #742305;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  margin: 20px 20px;
  padding: 30px;
  background-color: #fef7e2;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-radius: 100px;
}

header,
header button {
  border: none;
}

header button {
  background-color: #ffdf7e;
  margin: 15px;
}

#logoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 90%;
  height: 120px;
  border-radius: 60px;
}

.logo {
  width: 50px;
}

#logoBtn p {
  font-size: 32px;
  font-weight: 600;
  margin-left: 30px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  flex-basis: 95%;
}

nav button {
  width: 40%;
  height: 60px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
}

main {
  margin: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

.tile {
  border-radius: 80px;
  background-color: #fef7e2;
  margin-bottom: 40px;
  overflow: hidden;
}

.specs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.name h3 {
  margin: 0;
  margin-top: 5px;
}
.name p {
  margin: 0;
  margin-bottom: 10px;
}

.priceKg p {
  font-size: 20px;
}

.tileBtn button {
  margin-bottom: 20px;
  width: 50%;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  background-color: #ffdf7e;
  font-size: 20px;
  font-weight: 600;
}

.tileImg img,
section img {
  width: 100%;
}

section h2 {
  font-size: 32px;
  font-weight: 800;
}

section div {
  background-color: #fef7e2;
  padding: 40px 50px;
  border-radius: 40px;
}

section div h3,
section div p {
  text-align: left;
}

section div h3 {
  font-size: 24px;
  font-weight: 800;
}

section div p {
  font-size: 32px;
}

@media screen and (min-width: 576px) {
  header {
    margin: 0;
    padding: 20px 5px;
    border-radius: 0;
    flex-wrap: nowrap;
    position: sticky;
    top: 0px;
  }

  nav button {
    margin: 5px;
  }

  nav {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #button1,
  #button2,
  #button3,
  #button4,
  #LogoBtn p {
    flex-basis: 17%;
    font-size: 16px;
  }
  #button1 {
    order: 1;
  }
  #button2 {
    order: 2;
  }

  #logoBtn {
    order: 3;
    flex-basis: 32%;
    height: 100px;
  }
  #button3 {
    order: 4;
  }
  #button4 {
    order: 5;
  }

  #tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .tile {
    flex-basis: 47%;
  }

  .tile5 {
    display: none;
  }

  h1,
  section h2,
  section h3 {
    text-align: left;
  }

  section div {
    padding: 20px;
  }

  section div p {
    font-size: 20px;
  }

  section div img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  #fullpage {
    display: flex;
  }

  header {
    margin: 0;
    padding: 20px 5px;
    border-radius: 0;
    flex-wrap: nowrap;
    position: sticky;
    top: 0px;
    flex-basis: 30%;
    height: 100vh;
  }

  main {
    flex-basis: 80%;
  }

  nav button {
    margin: 5px;
    width: 100%;
  }

  nav {
    display: block;
    height: 80vh;
  }

  #button1,
  #button2,
  #button3,
  #button4,
  #LogoBtn p {
    flex-basis: 17%;
    font-size: 16px;
  }

  .logo {
    width: 40px;
  }

  #logoBtn p {
    margin-left: 10px;
    font-size: 24px;
  }

  #button1,
  #button2,
  #button3,
  #button4,
  #LogoBtn {
    height: 100px;
    margin: 20px 0;
    font-size: 20px;
  }

  #button1 {
    order: 2;
  }
  #button2 {
    order: 3;
  }

  #logoBtn {
    order: 1;
  }
  #button3 {
    order: 4;
  }
  #button4 {
    order: 5;
  }

  #tiles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .tile {
    flex-basis: 47%;
    margin: 10px;
    border-radius: 50px;
  }

  .tile img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .tileBtn button {
    width: 70%;
  }

  .specs {
    margin: 20px;
  }

  .name h3 {
    font-size: 12px;
  }

  .name p {
    font-size: 10px;
  }

  .priceKg p {
    font-size: 16px;
  }

  .tile4,
  .tile5 {
    display: none;
  }

  h1,
  section h2,
  section h3 {
    text-align: left;
  }

  section div {
    padding: 20px;
  }

  section div p {
    font-size: 20px;
  }

  section div img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .tile4 {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .tile5 {
    display: block;
  }

  #news {
    display: flex;
  }

  .newsDiv {
    padding-top: 0;
  }

  #news img {
    width: 50%;
    height: 30vh;
  }

  .newsDiv h3 {
    font-size: 16px;
    margin-top: 0;
  }

  .newsDiv p {
    font-size: 12px;
  }
}
